#hybridVsNormal{

	.clear {
		clear: both;
	}
	.unique{
		width:55%;
	}

	.common {
		margin-left:33%;
		width:31%;
	}

	div {
		margin-bottom:5px;
	}

	input,select{
		border-radius: 5px;
	}

	h1{
		text-align: center;
	}

	.selection {
		margin-left: 31%;

		button{
			margin-left: 14%;
		}
	}

	.initialCost{
		margin-bottom: 5px;
	}

	.efficiency{

	}

	.milesDriven{

	}

	.gasPrice{

	}

	.resellValue{

	}
}
